In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [38]:
# Create path
school_data_ = Path("Resources/schools_complete.csv")
student_data_ = Path("Resources/students_complete.csv")

#  convert csv
school_data = pd.read_csv(school_data_)
student_data = pd.read_csv(student_data_)

# Merge datasets
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
# Total unique schools
total_unique_schools = school_data_complete['school_name'].nunique()
print("Total number of unique schools:", total_unique_schools)

# Total students
total_students = len(school_data_complete)
print("Total number of students:", total_students)

# Total budget
total_budget = school_data['budget'].sum()
print("Total budget:", total_budget)

Total number of unique schools: 15
Total number of students: 39170
Total budget: 24649428

In [4]:
# Average maths score
average_maths_score = school_data_complete['maths_score'].mean()
print("Average maths score:", average_maths_score)

# Average reading score
average_reading_score = school_data_complete['reading_score'].mean()
print("Average reading score:", average_reading_score)

Average maths score: 70.33819249425581
Average reading score: 69.98013786060761

In [6]:
# % passing maths
passing_maths_percentage = (school_data_complete['maths_score'] >= 50).sum() / total_students * 100
print("% Passing Maths:", passing_maths_percentage)

# % passing reading
passing_reading_percentage = (school_data_complete['reading_score'] >= 50).sum() / total_students * 100
print("% Passing Reading:", passing_reading_percentage)

# % overall passing (passed math AND reading)
overall_passing_percentage = ((school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)).sum() / total_students * 100
print("% Overall Passing:", overall_passing_percentage)

% Passing Maths: 86.07863160582077
% Passing Reading: 84.42685728874139
% Overall Passing: 72.80827163645647

In [7]:
# Rounding up the percentage values to two decimal places
passing_maths_percentage = round(passing_maths_percentage, 2)
passing_reading_percentage = round(passing_reading_percentage, 2)
overall_passing_percentage = round(overall_passing_percentage, 2)

# Print round up %
print("% Passing Maths:", passing_maths_percentage)
print("% Passing Reading:", passing_reading_percentage)
print("% Overall Passing:", overall_passing_percentage)

% Passing Maths: 86.08
% Passing Reading: 84.43
% Overall Passing: 72.81

In [8]:
# Calculate totals and averages
total_students = school_data_complete.groupby('school_name')['Student ID'].nunique()
total_budget = school_data.groupby('school_name')['budget'].sum()
average_maths_score = school_data_complete.groupby('school_name')['maths_score'].mean()
average_reading_score = school_data_complete.groupby('school_name')['reading_score'].mean()

# Calculate %
passing_maths_percentage = (school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['Student ID'].count() / total_students) * 100
passing_reading_percentage = (school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['Student ID'].count() / total_students) * 100
overall_passing_percentage = (school_data_complete[(school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)].groupby('school_name')['Student ID'].count() / total_students) * 100

# Calculate per student budget
per_student_budget = total_budget / total_students

# Create a dictionary summary data
school_summary_data = {
    "School Type": school_data.set_index('school_name')['type'],
    "Total Students": total_students,
    "Total School Budget": total_budget,
    "Per Student Budget": per_student_budget,
    "Average Maths Score": average_maths_score,
    "Average Reading Score": average_reading_score,
    "% Passing Maths": passing_maths_percentage,
    "% Passing Reading": passing_reading_percentage,
    "% Overall Passing": overall_passing_percentage
}

# Convert to Pandas 
school_summary_df = pd.DataFrame(school_summary_data)

# Print summary
print(school_summary_df)

                       School Type  Total Students  Total School Budget  \
school_name
Bailey High School      Government            4976              3124928
Cabrera High School    Independent            1858              1081356
Figueroa High School    Government            2949              1884411
Ford High School        Government            2739              1763916
Griffin High School    Independent            1468               917500
Hernandez High School   Government            4635              3022020
Holden High School     Independent             427               248087
Huang High School       Government            2917              1910635
Johnson High School     Government            4761              3094650
Pena High School       Independent             962               585858
Rodriguez High School   Government            3999              2547363
Shelton High School    Independent            1761              1056600
Thomas High School     Independent            1635              1043130
Wilson High School     Independent            2283              1319574
Wright High School     Independent            1800              1049400

                       Per Student Budget  Average Maths Score  \
school_name
Bailey High School                  628.0            72.352894
Cabrera High School                 582.0            71.657158
Figueroa High School                639.0            68.698542
Ford High School                    644.0            69.091274
Griffin High School                 625.0            71.788147
Hernandez High School               652.0            68.874865
Holden High School                  581.0            72.583138
Huang High School                   655.0            68.935207
Johnson High School                 650.0            68.843100
Pena High School                    609.0            72.088358
Rodriguez High School               637.0            72.047762
Shelton High School                 600.0            72.034072
Thomas High School                  638.0            69.581651
Wilson High School                  578.0            69.170828
Wright High School                  583.0            72.047222

                       Average Reading Score  % Passing Maths  \
school_name
Bailey High School                 71.008842        91.639871
Cabrera High School                71.359526        90.850377
Figueroa High School               69.077993        81.654798
Ford High School                   69.572472        82.438846
Griffin High School                71.245232        91.212534
Hernandez High School              69.186408        80.949299
Holden High School                 71.660422        89.929742
Huang High School                  68.910525        81.693521
Johnson High School                69.039277        82.062592
Pena High School                   71.613306        91.683992
Rodriguez High School              70.935984        90.797699
Shelton High School                70.257808        91.538898
Thomas High School                 69.768807        83.853211
Wilson High School                 68.876916        82.785808
Wright High School                 70.969444        91.777778

                       % Passing Reading  % Overall Passing
school_name
Bailey High School             87.379421          80.084405
Cabrera High School            89.074273          80.785791
Figueroa High School           82.807731          67.650051
Ford High School               82.219788          67.469880
Griffin High School            88.487738          81.335150
Hernandez High School          81.877023          66.364617
Holden High School             88.524590          78.922717
Huang High School              81.453548          66.712376
Johnson High School            81.978576          67.191766
Pena High School               86.590437          79.209979
Rodriguez High School          87.396849          79.419855
Shelton High School            86.712095          78.875639
Thomas High School             82.629969          69.480122
Wilson High School             81.296540          67.455103
Wright High School             86.666667          79.722222

In [11]:
#HELP
# Sort schools by % Overall Passing in descending order and get the top 5
top_schools = school_summary_df.sort_values('% Overall Passing', ascending=False).head(5)

# Display the top 5 schools
print("Top 5 Performing Schools (by % Overall Passing):")
print(top_schools)

Top 5 Performing Schools (by % Overall Passing):
                       School Type  Total Students  Total School Budget  \
school_name
Griffin High School    Independent            1468               917500
Cabrera High School    Independent            1858              1081356
Bailey High School      Government            4976              3124928
Wright High School     Independent            1800              1049400
Rodriguez High School   Government            3999              2547363

                       Per Student Budget  Average Maths Score  \
school_name
Griffin High School                 625.0            71.788147
Cabrera High School                 582.0            71.657158
Bailey High School                  628.0            72.352894
Wright High School                  583.0            72.047222
Rodriguez High School               637.0            72.047762

                       Average Reading Score  % Passing Maths  \
school_name
Griffin High School                71.245232        91.212534
Cabrera High School                71.359526        90.850377
Bailey High School                 71.008842        91.639871
Wright High School                 70.969444        91.777778
Rodriguez High School              70.935984        90.797699

                       % Passing Reading  % Overall Passing
school_name
Griffin High School            88.487738          81.335150
Cabrera High School            89.074273          80.785791
Bailey High School             87.379421          80.084405
Wright High School             86.666667          79.722222
Rodriguez High School          87.396849          79.419855

In [12]:
#HELP
# Sort schools by % Overall Passing in ascending order and get the bottom 5
bottom_schools = school_summary_df.sort_values('% Overall Passing', ascending=True).head(5)

# Display the bottom 5 schools
print("Bottom 5 Performing Schools (by % Overall Passing):")
print(bottom_schools)

Bottom 5 Performing Schools (by % Overall Passing):
                       School Type  Total Students  Total School Budget  \
school_name
Hernandez High School   Government            4635              3022020
Huang High School       Government            2917              1910635
Johnson High School     Government            4761              3094650
Wilson High School     Independent            2283              1319574
Ford High School        Government            2739              1763916

                       Per Student Budget  Average Maths Score  \
school_name
Hernandez High School               652.0            68.874865
Huang High School                   655.0            68.935207
Johnson High School                 650.0            68.843100
Wilson High School                  578.0            69.170828
Ford High School                    644.0            69.091274

                       Average Reading Score  % Passing Maths  \
school_name
Hernandez High School              69.186408        80.949299
Huang High School                  68.910525        81.693521
Johnson High School                69.039277        82.062592
Wilson High School                 68.876916        82.785808
Ford High School                   69.572472        82.438846

                       % Passing Reading  % Overall Passing
school_name
Hernandez High School          81.877023          66.364617
Huang High School              81.453548          66.712376
Johnson High School            81.978576          67.191766
Wilson High School             81.296540          67.455103
Ford High School               82.219788          67.469880

In [19]:
# Convert 'year' to string?
school_data_complete['Year Level'] = school_data_complete['year'].astype(str).str.extract('(\d+)').astype(float)

# Group and get average
average_maths_score_by_year = school_data_complete.groupby(['school_name', 'Year Level'])['maths_score'].mean().reset_index()

# Pivot? WEb help
average_maths_score_by_year_pivot = average_maths_score_by_year.pivot(index='school_name', columns='Year Level', values='maths_score')

# Display average maths score by year and school
print("Average Maths Score by Year and School:")
print(average_maths_score_by_year_pivot)

Average Maths Score by Year and School:
Year Level                  9.0        10.0       11.0       12.0
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [40]:
# Convert 'year' column
school_data_complete['Year Level'] = school_data_complete['year'].astype(str).str.extract('(\d+)').astype(float)

# Group and get average
average_reading_score_by_year = school_data_complete.groupby(['school_name', 'Year Level'])['reading_score'].mean().reset_index()

# Pivot? as above. WEb
average_reading_score_by_year_pivot = average_reading_score_by_year.pivot(index='school_name', columns='Year Level', values='reading_score')

# Display average reading score by year and school
print("Average Reading Score by Year and School:")
print(average_reading_score_by_year_pivot)

Average Reading Score by Year and School:
Year Level                  9.0        10.0       11.0       12.0
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [26]:
# Define spending_bins and labels - provided
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create spending range column
school_data_complete['Spending Range'] = pd.cut(school_data_complete['budget'] / school_data_complete['size'], bins=spending_bins, labels=labels)

# Group and get average scores
performance_by_spending = school_data_complete.groupby('Spending Range').agg({
    'maths_score': 'mean',
    'reading_score': 'mean'
}).reset_index()

# Print
print("School Performance Based on Average Spending Ranges:")
print(performance_by_spending)

School Performance Based on Average Spending Ranges:
  Spending Range  maths_score  reading_score
0          <$585    70.938128      70.379397
1       $585-630    72.173448      70.965856
2       $630-645    70.104045      69.953630
3       $645-680    68.876878      69.064160

In [30]:
# Create spending range column
school_data_complete['Spending Ranges (Per Student)'] = pd.cut(school_data_complete['budget'] / school_data_complete['size'], bins=spending_bins, labels=labels)

# Calculate mean per range
spending_scores = school_data_complete.groupby("Spending Ranges (Per Student)").agg({
    'maths_score': 'mean',
    'reading_score': 'mean',
   
})

# Print
print("Mean Scores and Percentages per Spending Range:")
print(spending_scores)

Mean Scores and Percentages per Spending Range:
                               maths_score  reading_score
Spending Ranges (Per Student)
<$585                            70.938128      70.379397
$585-630                         72.173448      70.965856
$630-645                         70.104045      69.953630
$645-680                         68.876878      69.064160

In [ ]:
# Spending summary

#GET HELP